<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <paths>
    <media-path>d:\media.dir\</media-path>
    <log-path>log\</log-path>
    <data-path>data\</data-path>
    <template-path>templates\</template-path>
    <thumbnails-path>thumbnails\</thumbnails-path>
  </paths>
  <channels>
    <channel>
        <video-mode>1080i5000</video-mode>
        <consumers>
            <decklink>
                <device>1</device>
                <embedded-audio>true</embedded-audio>
                <channel-layout>stereo</channel-layout>
                <latency>normal</latency>
                <keyer>external</keyer>
                <key-only>false</key-only>
                <buffer-depth>3</buffer-depth>
                <custom-allocator>true</custom-allocator>
            </decklink>     
        </consumers>
    </channel>

  </channels>
  <controllers>
    <tcp>
        <port>5250</port>
        <protocol>AMCP</protocol>
    </tcp>
  </controllers>
</configuration>
